{% extends "base.html" %}

{% block title %}
    About Page
{% endblock%}

{% block content %}
    <h1> This is where you can learn more about the blog and the author.</h1>
    <div class="article-grid">
        {% for i in articles %}
            <div class="card">
                <h2 class="card-header">
                    <span class="card-title">{{i.title}}</span>
                    
                    <span class="card-author">By: {{ i.author}}</span>
                </h2>
                    
                <div class="card-content">
                    <p>{{i.details}}</p>
                </div>
            </div>
        {%endfor%}
        
    </div>
    <a href= "{{ url_for('index') }}">Go Back</a>
{% endblock %}