{% extends "base.html" %}
{%block title%}
    Welcome! 
{% endblock %}
{%block content%}
    <form action="/form" method="post">
        <label for="author">Your Name:</label>
        <input type="text" id="author" name="author"><br><br>
        <label for="author">Article Title:</label>
        <input type="text" id="title" name="title"><br><br>
        <label for="author">Content:</label>
        <input type="text" id="details" name="details"><br><br>
        <input type="submit" value="Post Article">

    </form>
    <button ><a href="{{ url_for('about') }}">View Article</a>
{%endblock%}