{% extends 'base.html'%}

{%block title%} 
    Blog
{%endblock%}
{%block content%}
<div class="home-page">
    <h1>Welcome to the Flask_Blog: Your Gateway to Knowledge and Inspiration</h1>
    
    <p>Discover a world of ideas, insights, and perspectives at Flask_Blog, your premier destination for thought-provoking content.</p>
  
    <div class="article-grid">
        <section class="card">
            <h2>Want to Pulish articles? </h2>
            <p>Share your thoughts, experiences, and expertise with the world by publishing your articles on Flask_Blog.</p>
            <a href= "{{ url_for('form') }}">Publish</a>
        </section>
        <section class="card">
            <h2>Want read published Articles? </h2>
            <p>Whether you're looking to expand your horizons, solve a specific problem, or simply enjoy engaging content, Flask_Blog has something for everyone.</p>
            <a href="{{url_for('about')}}">Explore</a>
        </section>
    </div>
</div>

{%endblock%}